/* BERANDA */
.back-logo {
    background-color: #727D73;
    width: 1440;
    height: 100px; 
}

.logo {
    position: absolute;
    top: 18px;
}

.h2-logo {
    color: #F0F0D7;
    position: absolute;
    padding: 20px;
    left: 50px;
    top: -5px;
}

.navbar {
    background-color: #AAB99A;
    width: 1440;
    height: 50px;
    position: relative;
    top: -30px;
}

.ul-navbar {
    display: flex;
    height: 55px;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    list-style-type: none;
    padding: 100px;
    margin: 60px;
    color: #334600;
 }
 
 #jadwal-sholat {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 1rem;
    position: absolute;
    width: 100%;
    padding: 10px;
    left: 55rem;
    top: 1rem;
  }
  
.jadwal-sholat {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #AAB99A;
    backdrop-filter: blur(10px);
    color: #334600;
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
  }  

.g1{
    position: relative;
    top: -2rem;
}

.judul {
    color: #F0F0D7;
    position: absolute;
    top: 25rem;
    left: 38rem;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.judul2 {
    color: #F0F0D7;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 30rem;
    left: 31rem;
}
/* BERANDA END */

.judul3 {
    font-family: Arial, Helvetica, sans-serif;
    color: #727D73;
    position: absolute;
    left: 28rem;
    top: 70rem;
}

.k1 {
    width: 390px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid #727D73;
    background-color: #FFFFFF;
    position: absolute;
    top: 80rem;
    left: 30rem;
}

.k2 {
    width: 390px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid #727D73;
    background-color: #FFFFFF;
    position: absolute;
    top: 80rem;
    left: 2rem;
}

.k3 {
    width: 390px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid #727D73;
    background-color: #FFFFFF;
    position: absolute;
    top: 80rem;
    left: 58rem;
}

.g2 img{
    position: absolute;
    top: 1284px;
    left: 485px;
    border-radius: 6px;
}

.g2 h2{
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 35rem;
    left: 37rem;
}

.g2 h3{
    color: #727D73;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    top: 38rem;
    left: 32rem;
}

.g3 img {
    position: absolute;
    top: 1284px;
    left: 37px;
    border-radius: 6px;
}

.g3 h2 {
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 20rem;
    left: 8rem;
 }

 .g3 h3 {
    color: #727D73;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    top: 23rem;
    left: 3rem;
 }

.g4 img {
    position: absolute;
    border-radius: 6px;
    left: 933px;
    top: 1284px;
}

.g4 h2 {
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    top: 6rem;
    left: 65rem;
}

.g4 h3 {
    color: #727D73;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    top: 9rem;
    left: 59rem;
}

.judul4 {
    font-family: Arial, Helvetica, sans-serif;
    color: #727D73;
    position: absolute;
    top: 130rem;
    left: 40rem;
}

.k4 {
    width: 950px;
    height: 200px;
    border-radius: 10px;
    border: 5px solid #727D73;
    background-color: #FFFFFF;
    position: absolute;
    top: 140rem;
    left: 16rem;
}

.buletin {
    color: #727D73;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    top: 140rem;
    left: 18rem;
}

.buletin1 {
    position: absolute;
    /* top: 20px; */
}